body {
  /* 颜色 */
  --primary: var(--green);
  --link: #5698c3; /* *蓝 */
  --green: #43b244; /* 鲜绿 */
  --red: #ef3751; /* 海棠红 */
  --blue: #0f59a4; /* 飞燕草蓝 */
  --yellow: #fcc307; /* 金盏黄 */
  --gray1: #d8e3e7; /* 星灰 */
  --gray2: #869d9d; /* 虾壳青 */
  --gray3: #47484c; /* 瓦罐灰 */
  --gray4: #132c33; /* 深灰蓝 */
  --gray5: #0f1423; /* 钢蓝 */
  --important: var(--gray5);
  --normal: var(--gray4);
  --border: var(--gray3);
  --info: var(--gray2);
  --disabled: var(--gray1);
  --background: #fff; /* 纯白 */
  /* 字体尺寸 */
  --xl: 36px;
  --l: 24px;
  --m: 18px;
  --s: 14px;
  --xs: 10px;
  /* 阴影 */
  --shadow: 0 1px 4px var(--info);
  --shadow-hover: 0 3px 8px var(--info);
  /* 动画 */
  --zoom-in: zoom-in;
  --during: 0.2s;
}
